<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Add product</h1>
        </div>
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            {{!-- <div class="row"> --}}
            <form method="POST" action="/products" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                        placeholder="Enter name" autocomplete="off">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group mb-3">
                                <input type="number" name="price" id="price" class="form-control" placeholder="Price"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">€</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="city">City</label>
                            <select class="form-control" id="city" name="city">
                                <option value=""></option>
                                <option value="paris">Paris</option>
                                <option value="lyon">Lyon</option>
                                <option value="marseille">Marseille</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                </div>
                <div class="row pictures">
                    <div class="col-4 text-center">
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="file1" name="pictures">
                            <label for="file1"><i class="fa fa-upload"></i> Product image 1</label>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="file2" name="pictures">
                            <label for="file2"><i class="fa fa-upload"></i> Product image 2</label>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="file3" name="pictures">
                            <label for="file3"><i class="fa fa-upload"></i> Product image 3</label>
                        </div>
                    </div>
                </div><!-- /.pictures -->
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            {{!-- </div> --}}
        </div>
    </div>
</div>