<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-1">
            <h1>Admin</h1>
            <h2><a href="/admin/products/add">Add product</a></h2>
            {{!-- <h2><a href="/admin/messages">See messages</a></h2> --}}
        </div>
    </div>
</div>