<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
            <h1>Le Bon Plan</h1>
        </div>
        <div class="col-1 offset-1">
            <div>
                <a href="/products/cities/paris">Paris</a>
            </div>
            <div>
                <a href="/products/cities/lyon">Lyon</a>
            </div>
            <div>
                <a href="/products/cities/marseille">Marseille</a>
            </div>
        </div>
        <div class="col-9 text-center">
            {{> map }}
        </div>
    </div>
</div>